<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <td>产品类别名称</td>
            <td>产品类别描述</td>
            <td>等级</td>
        </tr>
        <tr th:each="productType:${list}">
            <td th:text="${productType.productTypeName}"></td>
            <td th:text="${productType.productTypeDescription}"></td>
            <td th:text="${productType.typeLevel}"></td>
            <td>
                <a href="#" th:href="@{/toProductTypeView(id=${productType.id})}" target="_blank">查看</a>
                <a href="#" th:href="@{/toUpdateProductType(id=${productType.id})}" target="_blank">修改</a>
                <a href="#" th:href="@{/delProductTypeById(id=${productType.id})}" target="_blank">删除</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>